body {
  overflow-x: hidden;
  background-color:#f0f0f0 ;
  /*font-family: "Times New Roman", Times, serif;*/
}
*{
  box-sizing: border-box;
}
@media (max-width: 991.98px) {
  #top {
    font-size: 0.738rem;
    text-align: center;
  }
}

#top .slogan {
  color: #fff;
}

#top .slogan .btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#top {
  background: #555;
  padding: 10px 0;
  
}


#top a {
  color: #fff;
}

#top ul.menu {
  padding-top: 5px;
  margin: 0;
  font-size: 0.738rem;
}

#top ul.menu > li {
  margin-right: 0;
}

#top ul.menu > li a {
  color: #eee;
}

#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f8f9fa;
}

#top ul.menu > .active {
  color: #999;
}

#top #login-modal .modal-header {
  background: #429244;
}

#top #login-modal .modal-header h5 {
  color: #fff;
}

#top #login-modal a {
  color: #429244;
}

#top #login-modal p {
  font-weight: 350;
  margin-bottom: 20px;
}



/*MEGA MENU */


.menu-large {
  position: static !important;
}

.menu-large .megamenu {
  padding: 20px;
  width: 100%;
 /* max-width: 1500px;*/
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -1px;
}

.menu-large a.nav-link {
  padding: 7px !important;
  padding-left: 0 !important;
}

.navbar {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 30px 15px !important;
  color: white;
}
 .cityname .nav-item > .nav-link
 {
  
 }
.cityname .nav-link{
  text-transform: capitalize;
  font-size: 15px !important;
  color: rgba(0,0,0,1) !important;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav > .nav-item > .nav-link {
    padding: 10px 15px !important;
  }
}



@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    position: relative !important;
    border: none;
  }
}

@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.navbar .megamenu {
  padding: 30px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

@media (max-width: 991.98px) {
  .navbar .megamenu {
    padding: 15px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar .menu-large h5 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555;
}

@media (max-width: 767.98px) {
  .navbar .menu-large h5 {
    font-size: 0.9rem;
  }
}

.navbar .menu-large ul {
  margin: 0;
  padding: 0;
}

.navbar .menu-large ul .nav-item {
  list-style-type: none;
  border-bottom: solid 1px #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 0;
}

.navbar .menu-large ul .nav-item a {
  color: #999;
  font-size: 0.738rem;
  display: block;
  padding: 0 !important;
}

.navbar .menu-large ul .nav-item a:hover {
  color: #429244 !important;
  text-decoration: none;
}

.navbar .menu-large .banner {
  margin-bottom: 10px;
}

.navbar #basket-overview {
  padding: 0;
}

.navbar .navbar-btn {
  color: #fff;
  margin-right: 10px;
}
.navbar .menu-large p {
  font-size: 1.125rem;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555 ;
}
.navbar .navbar-nav > .nav-item > .nav-link.active, .navbar .navbar-nav > .nav-item > .nav-link:hover, .navbar .navbar-nav > .nav-item > .nav-link:focus {
  background: #2226adf2;
}

 @media only screen and (max-width: 960px) {
  
    .scroller{
      height: 65vh;
      overflow: scroll;
    }
}

/*end of our Mega menu*/



/* removing the green border (from small screen) that wrape the cameroon map */

 @media only screen and (min-width: 800px) {
  
     .border-green {
       border: 20px solid green;
     padding: 50px;
     margin-bottom: 15px;
  }
}



#region > li {

  list-style-type: none;
}


.search-option{
  background-color:#1010104f;
  border: 1px solid #d5d3d8;

}
/*MAIN CATEGORY STYLE */

#main-cat {
  text-align: center;
}

#main-cat .box .icon {
  position: absolute;
  font-size: 120px;
  width: 100%;
  text-align: center;
  top: -20px;
  left: 0;
  height: 100%;
  float: left;
  color: #eee;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;

}

#main-cat .box h3 {
  position: relative;
  margin: 0 0 10px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 2;
}

#main-cat .box h3 a:hover {
  text-decoration: none;
}

#main-cat .box p {
  position: relative;
  color: #555;
  z-index: 2;
}

.clickable {
  cursor: pointer;
}

.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
/*end of main category styling*/


/*faq sellfast pagebody to align the content*/
.pagebody{
  padding: 2%;
}
.monboutton{
  text-align: start !important;
}
/* end of faq sellfast pagebody*/


/* BEGINING OF THE CSS REGISTRATION */
.position_text{
  text-align: center !important;
  color: #429244 !important
}

.inputregister{
  width: 60% !important;
  border: 1px solid #999;
  padding: 1%;
  border-radius: 5px;
}
.inputregistersubmit{
  width: auto !important;
  text-align: center !important;
}

.contentregister{
  text-align: center;
}
.border_left{
  border-right: 1px solid #d5d3d8;
  padding-left: 3%;
}
@media only screen and (max-width: 800px) {
  
  .border_left {
  padding-left: 3%;
  text-align: center;
}
}

/* ENDING OF THE CSS REGISTRATION */


/* BEGINING OF THE USER CSS */

.user_css{
  border: 5px solid blueviolet !important;
  margin-bottom: 3% !important;
  padding:3%;
}

.user_css a{
  text-decoration: none;
}
.my_account_user{
  text-align: center !important;
  color:  #1E90FF;
}
.my_account_user_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* ENDINING OF THE USER CSS */


/* starting my_add.php  myfavorite*/

.myadd-btn{
 text-align: center;
 margin : 1%;
 }

.myaddContainer{

  border: 1px solid grey;
   margin-bottom: 30px;
}
.price{
color: #303F9F;
font-weight: bold;
font-size: 18px;

}
.time{
  position: absolute;
  right: 0px;
  bottom: 0px;
   margin: 2px;
}


/* ending my_add  myfavorite */





/* starding my profile */

.my_profile{
     text-align: center;
}
.my_profile input,select{
  width: 40%;
}
.my_profile_button{
  width: auto !important;
}
/* ending my profile */





/*FOOTER STYLING*/

#footer {
  background: grey;
  
}

#footer ul {
  padding-left: 0;
  list-style: none;
}

#footer ul a {
  color: #fff;
}



/*client UI welcome to my account*/

.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

/*  end client UI welcome to my account*/


/*making ribon for post add form*/


.box2 {
  
   position:relative;
   border:1px solid #BBB;
   background:#eee;
   float:left;
   margin:20px
}
.ribbon {
   position: absolute;
   right: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}


/* 3d button*/

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
/*.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}*/
.btn-primary2 {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
 /*.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}*/



#myFieldset {
  border: 1px solid #093ec7;
  padding: 20px;
  margin-bottom: 10px;
}

#myFieldset legend {
  border: none;
  width: auto;
  color: #171111;
  font-size: 23px;
  padding: 0 10px;
  margin: 0 auto 0 0;
}


/*multiple input file*/
  .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        .thumb {
            height: 80px;
            width: 100px;
            border: 1px solid #000;
        }

        ul.thumb-Images li {
            width: 120px;
            float: left;
            display: inline-block;
            vertical-align: top;
            height: 120px;
        }

        .img-wrap {
            position: relative;
            display: inline-block;
            font-size: 0;
        }

            .img-wrap .close {
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 100;
                background-color: #D0E5F5;
                padding: 5px 2px 2px;
                color: #000;
                font-weight: bolder;
                cursor: pointer;
                opacity: .5;
                font-size: 23px;
                line-height: 10px;
                border-radius: 50%;
            }

            .img-wrap:hover .close {
                opacity: 1;
                background-color: #ff0000;
            }

        .FileNameCaptionStyle {
            font-size: 12px;
        }

/* ENd multiple input file*/


/*Strat styling VIP product display*/
  .shape{    
      border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
      -ms-transform:rotate(360deg); /* IE 9 */
      -o-transform: rotate(360deg);  /* Opera 10.5 */
      -webkit-transform:rotate(360deg); /* Safari and Chrome */
      transform:rotate(360deg);
    }
    .offer{
      background:#fff; border:1px solid #ddd; 
    }

    .shape {
      border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
    }
    .offer-radius{
      border-radius:7px;
    }



    .offer-info { border-color: #5bc0de; }
    .offer-info .shape{
      border-color: transparent #5bc0de transparent transparent;
    }


    .shape-text{
      color:#fff; font-size:14px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
      -ms-transform:rotate(30deg); /* IE 9 */
      -o-transform: rotate(360deg);  /* Opera 10.5 */
      -webkit-transform:rotate(30deg); /* Safari and Chrome */
      transform:rotate(30deg);
    } 
    /* end of styling vip product */
